<included>
    <property resource="logback-variables.properties"/>
    <appender name="MDC_REQUEST" class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [REQUEST %X{TRX_ID}] ${LOG_PATTERN}
            </pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="MDC_REQUEST"/>
    </root>
</included>