<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProfile name="default, local, test">
        <include resource="logback-spring-local.xml"/>
    </springProfile>
    <springProfile name="stage, prod">
        <include resource="logback-spring-stage.xml"/>
    </springProfile>
</configuration>